{#    페이징 처리 시작#}
    <ul class="pagination justify-content-center mt-3">
        {% if reply_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reply_list.previous_page_number }}">
                    이전
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                    이전
                </a>
            </li>
        {% endif %}

        {% for page_number in reply_list.paginator.page_range %}
            {% if page_number >= reply_list.number|add:-5 and page_number <= reply_list.number|add:5 %}
                {% if page_number == reply_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">
                            {{ page_number }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">
                            {{ page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if reply_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reply_list.next_page_number }}">
                    다음
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                    다음
                </a>
            </li>
        {% endif %}
    </ul>