{% extends "accounts/base.html" %}

{% block content %}

    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link fs-5" href="{% url 'accounts:profile' %}" type="button" role="tab">프로필</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link fs-5"  href="{% url 'accounts:profile_posted' %}" type="button" role="tab">게시한 글</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link fs-5 active"  href="{% url 'accounts:profile_commented' %}" type="button" role="tab">댓글</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link fs-5"  href="{% url 'accounts:profile_reply' %}" type="button" role="tab">대댓글</a>
      </li>
    </ul>
    <div class="tab-content p-3 border-bottom border-start border-end rounded-bottom-3">
      <table class="table table-hover">
          <thead>
            <tr class="text-center" style="background-color:#fafafa">
                <th style="width: 60%">내용</th>
                <th style="width: 30%">작성일</th>
                <th style="width: 10%">좋아요</th>
            </tr>
          </thead>
          <tbody>
            {% for comment in comment_list %}
                <tr class="text-center">
                    <td class="text-left">
                        <a href="{% url 'blog:post_detail' comment.target.pk %}#comment{{ comment.pk }}">{{ comment.content }}</a>
                        <span class="text-danger small ms=2">{{ comment.reply_set.count }}</span>
                    </td>
                    <td class="text-left">
                        {{ comment.created_at }}
                    </td>
                    <td>
                        {% if comment.like_users.count == 0 %}
                            <span class="badge text-bg-secondary" style="color:#ccc;">{{ comment.like_users.count }}</span>
                        {% else %}
                            <span class="badge text-bg-danger" style="color: white">{{ comment.like_users.count }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>

    {% include 'accounts/pagination_commented.html' %}

{% endblock %}