{% load crispy_forms_tags %}

<div class="row py-5">
    <div class="col-sm-12">
        <div class="card">
            {% if form_title %}
                <div class="card-header">
                    {{ form_title }}
                </div>
            {% endif %}
            <div class="card-body">
                {% if form.helper %}
                    {% crispy form form.helper %}
                {% else %}
                    {% crispy form %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    #div_id_event_color fieldset div {
      display: flex; /* 혹은 inline-flex */
      flex-direction: row; /* 가로 정렬 */
    }

    .form-check {
      margin-right: 10px; /* 라디오 버튼 간격 조정 */
    }
    .form-check label {
        margin-left: 5px; /* 라디오 버튼과 라벨 사이 간격 조정 */
    }

    legend {
        font-size : 1rem;
    }
</style>