{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    {% include "_crispy_form.html" with form=form form_title=form_title %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('textarea[name=content]').summernote({
                lang: 'ko-KR',
                tabsize: 2,
                height: 500,
                minHeight: null,
                maxHeight: null,
                focus: true,
                toolbar: [
			    //  [groupName, [list of button]]
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                    ['color', ['forecolor','color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert',['picture','link','video']],
                    ['view', ['fullscreen', 'help']]
                ],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
                fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
            });
        });
        {#var simplemde = new SimpleMDE({ element: document.getElementById("id_content") });#}
    </script>
{% endblock %}