{% load static %}
<nav class="navbar navbar-expand-lg fixed-top px-2 shadow-sm"
             style="background-color: #3b5998"
             data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="/" style="color: white; font-weight: 900">
                    <img
                        src="{% static 'image/siuzip banner.png' %}"
                        alt="Siuzip.com"
                        height="40px"
                    />
                </a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasNavbar"
                  aria-controls="offcanvasNavbar"
                  aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end"
                     tabindex="-1"
                     id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel"
                     style="max-width: 70%">
                    <div class="offcanvas-header" style="background-color: #3b5998">
                        <h5
                          class="offcanvas-title"
                          style="font-weight: 900"
                          id="offcanvasNavbarLabel"
                        >
                            시우네
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="offcanvas"
                          aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body" style="background-color: #3b5998">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item align-content-center">
                                <a class="nav-link active" href="/">HOME</a>
                            </li>
                            <li class="nav-item align-content-center">
                                <a class="nav-link active" href="{% url 'blog:index' %}">BLOG</a>
                            </li>
                            <li class="nav-item align-content-center">
                                <a class="nav-link active" href="{% url 'league:league_standings' %}">4대리그</a>
                            </li>
                            <li>
                                <a class="nav-link align-content-center">|</a>
                            </li>

                        {% if user.is_staff or user.is_superuser %}
                            <li class="nav-item align-content-center">
                                <a class="nav-link active" href="{% url 'memo:index_status' 'True' %}">MEMO</a>
                            </li>
                            <li class="nav-item align-content-center">
                                <a class="nav-link active" href="{% url 'schedule:calendar' %}">SCHEDULE</a>
                            </li>
                            <li>
                                <a class="nav-link">|</a>
                            </li>
                        {% endif %}


                            {% if user.is_authenticated %}
                                <li class="nav-item me-2 align-content-center">
                                    <a class="nav-link active" href="{% url 'accounts:profile' %}">
                                        {% if user.profile.avatar %}
                                            <img src="{{ user.profile.avatar.url }}"
                                                 alt="{{ user.nick_name }}'s avatar"
                                                 class="rounded-circle img-fluid"
                                                 style="width: 1em; height: 1em"
                                            />
                                        {% else %}
                                            <img src="{% static 'image/guest_avatar(32px).png' %}"
                                                 alt="guest's avatar"
                                                 class="rounded-circle img-fluid"
                                            />
                                        {% endif %}
                                        {{ user.nick_name }}
                                    </a>
                                </li>
                                <li class="nav-item align-content-center">
                                    <a class="nav-link active"
                                       hx-post="{% url 'accounts:logout' %}?next={{ request.path }}"
                                       hx-target="body"
                                       hx-push-url="true"
                                    >LOGOUT</a>
                                </li>
                            {% else %}
                                <li class="nav-item align-content-center">
                                    {% url 'accounts:login' as login_url %}
                                    <a class="nav-link active"
                                       href="{{ login_url }}{% if login_url != request.path %}?next={{ request.path }}{% endif %}"
                                       style="cursor: pointer">LOGIN
                                    </a>
                                </li>
                                <li class="nav-item align-content-center">
                                    <a class="nav-link active"
                                       href="{% url 'accounts:signup' %}?next={{ request.path }}"
                                       style="cursor: pointer">SIGN-UP
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

<div style="height: 50px; width: 100%"></div>
<style>
  .nav-item a {
    position: relative;
    padding: 6px 12px;
  }

  .nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #e6f0ffff;
    transition: all 0.3s ease-out;
  }

  .nav-item a:hover::after {
    width: 100%;
  }

  .title-name h1 {
    text-align: center;

    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;

    font-weight: 300;
    font-size: 30px;
    color: #080808;
  }

  .title-name h1:after,
  .title-name h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color: #f8f8f8;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


  @media screen and (max-width: 250px) {
    html {
      font-size: 12px;
    }
  }
</style>