{% extends 'base.html' %}
{#{% load component_tags %}#}

{% block content %}
{#	<div class="w-50" id="wg-api-football-standings"#}
{#        data-host="v3.football.api-sports.io"#}
{#        data-key="52d1b79add89f9d721330e87e2ca76d3"#}
{#        data-league="39"#}
{#        data-team=""#}
{#        data-season="2024"#}
{#        data-theme="grey"#}
{#        data-show-errors="false"#}
{#        data-show-logos="true"#}
{#        class="wg_loader">#}
{#    </div>#}


{% endblock %}

{% block script %}
{#<script#}
{#    type="module"#}
{#    src="https://widgets.api-sports.io/2.0.3/widgets.js">#}
{#</script>#}
{% endblock %}