{% extends "schedule/base.html" %}
{% load blog_filter %}

{% block content %}
    <div class="d-flex btn-group p-3" role="group">
        <button type=button class="btn btn-outline-secondary" onclick="location.href='{% url 'schedule:calendar' %}?{{ prev_month }}'" > ◀ 이전달 </button>
        <button type=button class="btn btn-primary" onclick="location.href='{% url 'schedule:event_new' %}'"><i class="fa-solid fa-calendar-days"></i> 새일정 등록 </button>
        <button type=button class="btn btn-outline-secondary" onclick="location.href='{% url 'schedule:calendar' %}?{{ next_month }}'"> 다음달 ▶ </button>
    </div>

    {{ calendar|mark }}


    <style>

        .calendar th {
          padding: 10px;
          text-align: center;

        }

        .calendar td {
          width: 130px;
          height: 130px;
          padding: 10px 0px 0px 10px;
        }

        .month {
          font-size: 25px;
        }

        .date {
          font-size: 16px;
        }

        ul {
          padding: 0px 5px 0px 5px;
            list-style-type: none;
        }

        .sun {
            color : red !important;
        }

        .sat {
            color : blue !important;
        }

        tr td:first-child span {
            color : red;
        }

        tr td:last-child span {
            color : blue;
        }



    </style>
{% endblock %}