{% extends "schedule/base.html" %}
{% load blog_filter static %}

{% block content %}

    <div class="container-xl my-3">
      <ul class="shadow list-group">
        <li class="list-group-item shadow-sm p-3">
          <div
            class="row align-items-center p-2 mx-0 mb-2 rounded shadow-sm"
            style="background-color: #8b9dc3"
          >
            <div class="col-md-10">
              <h2 style="font-weight: 900; color: white">{{ event.title }}</h2>
            </div>
          </div>
          <div
            class="row d-flex p-2 mb-2 mx-0 rounded shadow-sm"
            style="background-color: #dfe3ee"
          >
            <div class="col-6 py-2">
               <span class="ms-auto p-2" style="font-weight: 600">
                  <img
                    class="img-fluid rounded-circle me-2"
                        {% if event.author.profile.avatar %}
                            src="{{ event.author.profile.avatar.url }}"
                        {% else %}
                            src="{% static 'image/guest_avatar(32px).png' %}"
                        {% endif %}
                    style="width: 30px; height: 30px"
                    alt="{{ event.author.nick_name }}'s avatar"/>
                  {{ event.author.nick_name }}
              </span>
            <span class="small text-secondary" style="font-weight: 600"
                >{{ event.created_at|timesince }} 전</span
              >
            </div>

          </div>

            <div
                class="p-3 mb-2 text-emphasis-secondary rounded shadow-sm"
                style="background-color: white"
            >
                <table class="table table-borderless w-100 text-center">
                  <tr>
                      <td class="align-content-center fs-5" rowspan="2"><i class="fa-regular fa-clock"></i></td>
                      <td><span class="fs-5">{{ event.start_time|date:'m월 d일 (D)' }}</span></td>
                      <td class="align-content-center fs-5" rowspan="2"><span>~</span></td>
                      <td><span class="fs-5">{{ event.end_time|date:'m월 d일 (D)' }}</span></td>
                  </tr>
                  <tr>
                      <td><span class="fs-5">{{ event.start_time|date:'a h:i' }}</span></td>
                      <td><span class="fs-5">{{ event.end_time|date:'a h:i' }}</span></td>
                  </tr>
                </table>
            </div>

{#        블로그 내용#}
          <div
            class="p-3 mb-2 text-emphasis-secondary rounded shadow-sm"
            style="background-color: #f7f7f7"
          >


            {{ event.content|mark }}
          </div>

          <div class="d-flex">
                <div class="btn-group align-items-center w-100" role="group">
                  <button
                    class="btn btn-outline-primary shadow-sm"
                    style="font-weight: 600"
                    role="button"
                    onclick="location.href='{% url "schedule:event_edit" event.pk %}'"
                    {% if request.user != event.author %}
                        disabled
                    {% endif %}
                  >
                    <i class="fa-solid fa-pen"></i> 수정
                  </button>

                  <button
                    class="event-delete btn btn-outline-secondary shadow-sm"
                    style="font-weight: 600"
                    href="javascript:void(0)"
                    data-uri="{% url "schedule:event_delete" event.pk %}"
                    {% if request.user != event.author %}
                        disabled
                    {% endif %}
                  >
                    <i class="fa-solid fa-trash"></i> 삭제
                  </button>
                </div>
          </div>
        </li>
      </ul>
    </div>



    <style>
      .title-name h1 {
        text-align: center;

        text-transform: uppercase;
        font-size: 26px;
        letter-spacing: 1px;

        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 16px 0;
        grid-gap: 22px;

        font-weight: 300;
        font-size: 30px;
        color: #080808;
      }

      .title-name h1:after,
      .title-name h1:before {
        content: " ";
        display: block;
        border-bottom: 2px solid #ccc;
        background-color: #f8f8f8;
      }

      .category {
        border: thin solid #8b9dc3;
        background-color: #dfe3ee;
        color: #3b5998;
        font-weight: 600;
      }

      /* p {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
      } */
      p iframe,
      p object,
      p embed {
        /* position: absolute; */
        /* top: 0;
        left: 0; */
        width: 100%;
        /* height: 100%; */
      }

      {#@media screen and (max-width: 738px) {#}
      {#  .comment-writer {#}
      {#    display: flex;#}
      {#    flex-direction: column;#}
      {#    align-items: center;#}
      {#  }#}
      {#}#}
    </style>
{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_event_elements = document.getElementsByClassName("event-delete");
Array.from(delete_event_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 일정을 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>
{% endblock %}